<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>
<body>
    <div class="container-1">
        <div class="logo">
            <div class="rectangle-5">
                <img class="logo-img" src="../assets/logo.svg">
            </div>
            <p>VVAI</p>
        </div>
        <div class="rectangle-7">
            <div class="prompt-box">
                <p>A whimsical dress inspired by a Vincent van Gogh painting, with swirling brushstrokes and vibrant colors</p>
            </div>
            <div class="generation-msg">
                <p>✨ Generating Preview on the right panel...</p>
            </div>
        </div>
        <div class="prompt-input-box">
            <input type="text" placeholder="/Type your prompt here...">
            <button class="generate-btn">Generate</button>
        </div>
    </div>
    <div class="rectangle-4">
        <img class="generated-img">
    </div>
</body>
</html>