@font-face {
    font-family: 'Aeonik';
    src: url('../assets/fonts/aeonik/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #131314;
    font-family: Aeonik;
  
}

.group-1 {
    position: absolute;
    align-self: flex-start;
    margin-top: 31px;
    margin-left: 30px;
    background-color: aliceblue;
    width: 80px;
    height: 98px;
   
    
}

.group-1 > p {
    margin-top: auto;
    top: 5px;
    left: 16px;
    position: relative;
    font-size: 40px;
    letter-spacing: 10px;
}

.group-9 {
    font-family: Aeonik;
    position: absolute;
    background-color: bisque;
    align-self: flex-start;
    margin-top: 231px;
    height: 700px;
    margin-left: 300px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

    
}

.group-9 p:first-of-type {
    font-weight: 400;
   

}

.group-9 p:nth-of-type(2) {
    
    font-size: 34px;
    line-height: 19.2px;
    position: relative;
    bottom: 35px;

}

.group-9 button {
    width: 400px;
    height: 100px;
    border-radius: 5px;
    padding-top: 21px;
    padding-right: 50px;
    padding-bottom: 21px;
    padding-left: 50px;
    background-color: #8865FF;
    border-style: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.image-container {
    background-color: chocolate;
    width: 546px;
    height: 768px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 31px;
    margin-top: 31px;
    
}

.rectangle-5 {
    background-color: blue;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media  (min-width: 2560px) {
    .group-9 {
       
        margin-top: 231px;
        height: 700px;
        margin-left: 300px;
        width: 900px;
    }

    .group-1 {
        
        position: absolute;
        align-self: flex-start;
        background-color: aliceblue;
        margin-top: 31px;
        margin-left: 300px;
        width: 150px;
        height: 170px;
    }

    .image-container {
        width: 860px;
        height: 1320px;
        background-color: chocolate;
        border-radius: 5px;
        margin-right: 220px;
        margin-top: 32px;
       
    }

    .image-container img {
        width: inherit;
        height: inherit;
    }

    .rectangle-5 {
        background-color: blue;
        height: 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rectangle-5 img {
        width: 50px;
        height: 110px;
    }

    .group-9 p:first-of-type {
        font-size: 90px;
    }
}


@media screen and (min-width: 1920px) and (max-width: 2559.98px) {
    .group-1 {
        width: 100px;
        height: 120px;
        margin-left: 80px;
        margin-top: 31px;
    }

    .rectangle-5 {
        width: 100px;
        height: 90px;
        border-radius: 5px;
    }

    .group-1 > p {
        width: 69px;
        height: 8px;
        font-size: 20px;
        top: 3px;
        left: 14px;
    }

    .rectangle-5 img {
        width: 44px;
        height: 88px;
    }

    .group-9 {
        margin-top: 231px;
        height: 512px;
        margin-left: 80px;
        width: 900px;
    }

    .group-9 p:first-of-type {
        font-weight: 400;
        font-size: 85px;
        position: relative;
        bottom: 56px;
    }

    .group-9 p:nth-of-type(2) {
        font-size: 34px;
        line-height: 19.2px;
        position: relative;
        bottom: 100px;
    }

    .group-9 button {
        width: 340px;
        font-size: 22px;
        position: relative;
        bottom: 90px;
    }

    .image-container {
        background-color: chocolate;
        width: 660px;
        height: 992px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: 60px;
        margin-top: 31px;

    }

}



@media screen and (min-width: 1440px) and (max-width: 1919.98px) {

    .group-1 {
        width: 80px;
        height: 98px;
        margin-left: 31px;
        margin-top: 31px;
        
    }

    .rectangle-5 {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        
    }

    .rectangle-5 img {
        width: 36px;
        height: 82px;
    }
    
    .group-1 > p { 
        width: 69px;
        height: 8px;
        font-size: 12px;
        top: 3px;
        left: 14px;
        
        
        
    }

    .group-9 { 
        margin-top: 231px;
        height: 480px;
        margin-left: 31px;
        width: 600px;
    }

    .group-9 p:first-of-type {
        font-weight: 400;
        font-size: 66px;
       
    
    }

    .group-9 p:nth-of-type(2) {
        font-size: 23px;
        line-height: 19.2px;
        position: relative;
        bottom: 35px;
    }

    .group-9 button {
        width: 320px;
        height: 70px;
        font-size: 22px;
       
    }

    .image-container {
        width: 500px;
        height: 770px;
        margin-right: 70px;
        margin-top: 32px;
    }
    }
    .image-container img {
        height: inherit;
}

@media (max-width: 1024px) {
   

    .image-container {
        width: 400px;
        height: 600px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: 31px;
        margin-top: 31px;
    }

    .group-9 {
        width: 450px;
        height: 350px;
    }

    .group-9 p:first-of-type {
        font-weight: 400;
        font-size: 50px;
        position: relative;
        bottom: 36px;
    }

    .group-9 p:nth-of-type(2) {
        font-size: 17px;
        line-height: 19.2px;
        position: relative;
        bottom: 60px;
    }

    .group-9 button {
        width: 280px;
        height: 70px;
        font-size: 20px;
        position: relative;
        bottom: 34px;
    }

    .image-container {
        margin-top: 70px;
    }

    




    
}